<!--左侧{-->
<aside class="sidebar">
    <ul class="nav-btn" id="left-nav">
        <li><a href=""><i class="nav-icon1"><em></em></i>描述题</a></li>
        <li><a href=""><i class="nav-icon2"><em></em></i>单选题（文字）</a></li>
        <li><a href=""><i class="nav-icon3"><em></em></i>单选题（图片）</a></li>
        <li><a href=""><i class="nav-icon4"><em></em></i>多选题（文字）</a></li>
        <li><a href=""><i class="nav-icon5"><em></em></i>多选题（图片）</a></li>
        <li><a href=""><i class="nav-icon6"><em></em></i>矩阵题</a></li>
        <li><a href=""><i class="nav-icon7"><em></em></i>量表 / 打分</a></li>
        <li><a href=""><i class="nav-icon8"><em></em></i> 满意度</a></li>
        <li><a href=""><i class="nav-icon9"><em></em></i>满意度</a></li>
        <li><a href=""><i class="nav-icon10"><em></em></i>城市选择</a></li>
        <li><a href=""><i class="nav-icon11"><em></em></i>上传</a></li>
        <li><a href=""><i class="nav-icon12"><em></em></i>任务测试</a></li>
        <li><a href=""><i class="nav-icon13"><em></em></i>填空题</a></li>
        <li><a href=""><i class="nav-icon14"><em></em></i>概念卡</a></li>
    </ul>
</aside>
<!--}左侧-->
<!--右侧{-->
<div class="right-nav">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">主题<i></i></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="theme-wrap">
                        <ul class="theme">
                            <li><a href=""><img src="" alt="">
                                    <p>艺术</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>风景</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>抽象</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>艺术</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>风景</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>抽象</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>艺术</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>风景</p>
                                </a></li>
                            <li><a href=""><img src="" alt="">
                                    <p>抽象</p>
                                </a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">题目<i></i></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul class="topic-aside">
                        <li><span class="topic-title">字体色彩</span><input type="text" id="text-color"></li>
                        <li><span class="topic-title">字体大小</span>
                            <select name="" >
                                <option value="24">24</option>
                                <option value="23">23</option>
                            </select>
                        </li>
                        <li>
                            <span class="topic-title">对齐方式</span>
                            <div class="align">
                                <a class="align-icon1"><i></i></a>
                                <a class="align-icon2 cur"><i></i></a>
                                <a class="align-icon3"><i></i></a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">选项<i></i></h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">背景<i></i></h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <ul class="set-bg">
                        <li class="active"><a class="set-bg1"><i class="icon-setcolor">设置颜色</i></a></li>
                        <li ><a class="set-bg2"    data-toggle="modal" data-target="#background-modal"><i class="icon-setbg">设置图片</i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="setcolor"><input type='text' id="flat" /></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--}右侧-->