<header class="navbar navbar-fixed-top navbar-bac">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="#">
                <em></em>
            </a>

        </div>
        <a class="save" title="保存"></a>
        <a class="topic" title="新建" data-toggle="modal" data-target="#add-new-reseach"></a>
        <div class="navbar-right">
            <a href="" class="navbar-right-btn navbar-right-btn1">发布</a>
            <a href="" class="navbar-right-btn navbar-right-btn2" data-toggle="modal" data-target="#delete-reseach">测试</a>
            <a href="" class="navbar-right-btn navbar-right-btn3 g-thide">设置</a>
            <a class="navbar-right-btn navbar-right-btn4 g-thide"   data-toggle="modal" data-target="#music-modal">音乐</a>
        </div>
    </div>
</header>