<div class="logic-area">
    <div class="logic-page">
        <span class="logic-page-down"><i></i></span>
        <span class="logic-page-num">1</span>
        <span class="logic-page-up"><i></i></span>
        <div class="logic-page-scroll">
            <ul  id="logic-page-scroll">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li class="cur">5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
            <div class="loagic-page-scroll-btn"><i></i></div>
        </div>
    </div>

    <div class="logic-icon">
        <a class="icon-jump"></a>
        <div class="logic-tip">逻辑跳转</div>
    </div>
</div>