<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>Edit</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!--头部开始-->
    <% include tpl/header %>
    <!--头部结束-->
    <!--内容开始-->
    <div class="container-fluid">
      <div class="row">
          <% include tpl/aside %>
        <!--列表开始-->
        <section class="main">
            <input type="text" class="edit-name" placeholder="请添加问卷名称">

            <!--start{-->
            <div class="edit-col cur" style="background: url(img/bg.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">0</span>
                <div class="edit-col-icon">
                    <a class="icon-mobile"  data-toggle="modal" data-target="#mobile-show"></a>
                </div>
                <div class="edit-col-comment"><i class="icon-comment"></i>3</div>
                <div class="edit-col-cont edit-col-cont1">
                    <div class="upload-img" style="display: none;">
                        <span>+</span><br>LOGO
                        <input type="file" />
                    </div>
                    <!--上传后{-->
                    <div class="itemset clearfix upload-suc">
                        <div class="item">
                            <i class="icon-delete2"></i>
                            <label>
                                <input type="radio" name="radio-test">
                                <div class="item_cell">
                                    <img src="img/pic.jpg" alt="" class="item_img"></span>
                                    <div class="item_text"><input type="text" value="文案文案文案"></div>
                                    <a class="item_cell_edit"></a>
                                </div>
                            </label>
                            <div class="zoom" onClick="alert('点击缩放跟选中选项分离')"></div>
                        </div>
                    </div>
                    <!--}上传后-->
                    <div class="edit-title">
                        <i class="icon-edit"></i>
                        <textarea>欢迎参与调查</textarea>
                    </div>
                    <textarea class="edit-intro">这是一次关于中国互联网产品发展状况的调查，你的手机里到底装了哪些神奇好用的APP，哪些APP占据了你你一屏的位置，哪些APP是你使用频率最高的手机应用。</textarea>
                </div>
            </div>
            <!--}start-->
            <!--单选题图片{-->
            <div class="edit-col  cur" style="background: url(img/bg2.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">1</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont2">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="itemset clearfix">
                        <div class="item">
                            <i class="icon-delete2"></i>
                            <label>
                                <input type="radio" name="radio-test">
                                <div class="item_cell">
                                    <img src="img/pic.jpg" alt="" class="item_img"></span>
                                    <div class="item_text"><input type="text" value="文案文案文案"></div>
                                    <a class="item_cell_edit"></a>
                                </div>
                            </label>
                            <div class="zoom" onClick="alert('点击缩放跟选中选项分离')"></div>
                        </div>
                        <div class="item">
                            <i class="icon-delete2"></i>
                            <label>
                                <input type="radio" name="radio-test">
                                <div class="item_cell">
                                    <img src="img/pic.jpg" alt="" class="item_img"></span>
                                    <div class="item_text"><input type="text" value="文案文案文案"></div>
                                    <a class="item_cell_edit"></a>
                                </div>
                            </label>
                            <div class="zoom" onClick="alert('点击缩放跟选中选项分离')"></div>
                        </div>
                        <div class="item">
                            <i class="icon-delete2"></i>
                            <label>
                                <input type="radio" name="radio-test">
                                <div class="item_cell">
                                    <img src="img/pic.jpg" alt="" class="item_img"></span>
                                    <div class="item_text"><input type="text" value="文案文案文案"></div>
                                    <a class="item_cell_edit"></a>
                                </div>
                            </label>
                            <div class="zoom" onClick="alert('点击缩放跟选中选项分离')"></div>
                        </div>
                        <div class="item">
                            <i class="icon-delete2"></i>
                            <label>
                                <input type="radio" name="radio-test">
                                <div class="item_cell">
                                    <img src="img/pic.jpg" alt="" class="item_img"></span>
                                    <div class="item_text"><input type="text" value="文案文案文案"></div>
                                    <a class="item_cell_edit"></a>
                                </div>
                            </label>
                            <div class="zoom" onClick="alert('点击缩放跟选中选项分离')"></div>
                        </div>
                        <div class="item">
                            <a class="add-radio">+</a>
                        </div>
                    </div>
                </div>

                <div class="order">
                    选项随机顺序
                    <span class='tg-list-item'>
                        <input class='tgl tgl-light' id='cb1' type='checkbox'>
                        <label class='tgl-btn' for='cb1'></label>
                    </span>
                </div>
            </div>
            <!--}单选题图片-->
            <!--多选题图片{-->
            <div class="edit-col  cur" style="background: url(img/bg2.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">1</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont2">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="itemset clearfix">
                        <label class="item">
                            <i class="icon-delete2"></i>
                            <input type="checkbox">
                            <div class="item_cell">
                                <img src="img/pic.jpg" alt="" class="item_img"></span>
                                <div class="item_text"><input type="text" value="文案文案文案"></div>
                                <a class="item_cell_edit"></a>
                            </div>
                        </label>
                        <label class="item">
                            <i class="icon-delete2"></i>
                            <input type="checkbox">
                            <div class="item_cell">
                                <img src="img/pic.jpg" alt="" class="item_img"></span>
                                <div class="item_text"><input type="text" value="文案文案文案"></div>
                                <a class="item_cell_edit"></a>
                            </div>
                        </label>
                        <label class="item">
                            <i class="icon-delete2"></i>
                            <input type="checkbox">
                            <div class="item_cell">
                                <img src="img/pic.jpg" alt="" class="item_img"></span>
                                <div class="item_text"><input type="text" value="文案文案文案"></div>
                                <a class="item_cell_edit"></a>
                            </div>
                        </label>
                        <label class="item">
                            <i class="icon-delete2"></i>
                            <input type="checkbox">
                            <div class="item_cell">
                                <img src="img/pic.jpg" alt="" class="item_img"></span>
                                <div class="item_text"><input type="text" value="文案文案文案"></div>
                                <a class="item_cell_edit"></a>
                            </div>
                        </label>
                        <div class="item">
                            <a class="add-radio">+</a>
                        </div>
                    </div>
                </div>

                <div class="order">
                    选项随机顺序
                    <span class='tg-list-item'>
                        <input class='tgl tgl-light' id='cb2' type='checkbox'>
                        <label class='tgl-btn' for='cb2'></label>
                    </span>
                </div>
            </div>
            <!--}多选题图片-->
            <!--单选题{-->
            <div class="edit-col  cur" style="background: url(img/bg2.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">1</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont2">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <label class="answer">
                        <input type="radio" name="radio1">
                        <div class="answer_cell">
                            <i class="icon-delete2"></i>
                            <input type="text" class="answer_text" value="文案文案文案" />
                        </div>
                    </label>
                    <label class="answer">
                        <input type="radio"  name="radio1">
                        <div class="answer_cell">
                            <i class="icon-delete2"></i>
                            <input type="text" class="answer_text" value="文案文案文案" />
                        </div>
                    </label>
                    <label class="answer">
                        <input type="radio"  name="radio1">
                        <div class="answer_cell">
                            <i class="icon-delete2"></i>
                            <input type="text" class="answer_text" value="文案文案文案" />
                        </div>
                    </label>
                    <a class="add-answer">+</a>
                    <div class="other-answer"><input type="checkbox" >其他，请补充</div>
                </div>

                <div class="order">
                    选项随机顺序
                    <span class='tg-list-item'>
                        <input class='tgl tgl-light' id='cb1' type='checkbox'>
                        <label class='tgl-btn' for='cb1'></label>
                    </span>
                </div>
            </div>
            <!--}单选题-->
            <!--多选题{-->
            <div class="edit-col  cur" style="background: url(img/bg2.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">1</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont2">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <label class="answer">
                        <input type="checkbox">
                        <div class="answer_cell">
                            <i class="icon-delete2"></i>
                            <input type="text" class="answer_text" value="文案文案文案" />
                        </div>
                    </label>
                    <label class="answer">
                        <input type="checkbox">
                        <div class="answer_cell">
                            <i class="icon-delete2"></i>
                            <input type="text" class="answer_text" value="文案文案文案" />
                        </div>
                    </label>
                    <label class="answer">
                        <input type="checkbox">
                        <div class="answer_cell">
                            <i class="icon-delete2"></i>
                            <input type="text" class="answer_text" value="文案文案文案" />
                        </div>
                    </label>
                    <a class="add-answer">+</a>
                    <div class="other-answer"><input type="checkbox" >其他，请补充</div>
                </div>

                <div class="order">
                    选项随机顺序
                    <span class='tg-list-item'>
                        <input class='tgl tgl-light' id='cb1' type='checkbox'>
                        <label class='tgl-btn' for='cb1'></label>
                    </span>
                </div>
            </div>
            <!--}多选题-->
            <!--满意度{-->
            <div class="edit-col cur" style="background: url(img/bg3.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">2</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont3">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="mood">
                        <div class="mood_icon mood_icon_1 mood_icon_selected"></div>
                        <div class="mood_icon mood_icon_2"></div>
                        <div class="mood_icon mood_icon_3"></div>
                        <div class="mood_icon mood_icon_4"></div>
                        <div class="mood_icon mood_icon_5"></div>
                    </div>
                </div>
            </div>
            <!--}满意度-->
            <!--心形{-->
            <div class="edit-col cur" style="background: url(img/bg3.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">2</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont3">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="heart">
                        <div class="heart_icon heart_icon_selected"></div>
                        <div class="heart_icon heart_icon_selected"></div>
                        <div class="heart_icon heart_icon_selected"></div>
                        <div class="heart_icon"></div>
                        <div class="heart_icon"></div>
                    </div>
                </div>

            </div>
            <!--}心形-->
            <!--满意度{-->
            <div class="edit-col cur" style="background: url(img/bg4.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">4</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont4">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="points">
                        <input class="points_good" value="非常满意" />
                        <input class="points_bad" value="很不满意">
                        <div class="points_num">
                            <span class="points_num_select">10</span>
                            <span>9</span>
                            <span>8</span>
                            <span>7</span>
                            <span>6</span>
                            <span>5</span>
                            <span>4</span>
                            <span>3</span>
                            <span>2</span>
                            <span>1</span>
                        </div>
                        <div class="points_bar">
                            <div class="points_bar_handler" style="top:110px;"></div>
                            <!-- 监听滑动事件改变handler的top，范围为0~250，如：
                            <div class="points_bar_handler" style="top:110px;"></div>
                             -->
                        </div>
                    </div>
                </div>
                <div class="order order-score">
                    5分
                    <span class='tg-list-item'>
                        <input class='tgl tgl-light' id='cb3' type='checkbox'>
                        <label class='tgl-btn' for='cb3'></label>
                    </span>
                    10分
                </div>
            </div>
            <!--}满意度-->
            <!--满意度{-->
            <div class="edit-col cur" style="background: url(img/bg4.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">4</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont4">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="satisfaction">
                        <div class="satisfaction_item"><input type="text" value="非常满意"></div>
                        <div class="satisfaction_item"><input type="text" value="满意"></div>
                        <div class="satisfaction_item"><input type="text" value="一般"></div>
                        <div class="satisfaction_item"><input type="text" value="不满意"></div>
                        <div class="satisfaction_item"><input type="text" value="非常不满意"></div>
                    </div>
                </div>
                <div class="order">
                    选项随机顺序
                    <span class='tg-list-item'>
                        <input class='tgl tgl-light' id='cb1' type='checkbox'>
                        <label class='tgl-btn' for='cb1'></label>
                    </span>
                </div>
            </div>
            <!--}满意度-->
            <!--表格{-->
            <div class="edit-col cur" style="background: url(img/bg5.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">5</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont4">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="edit-table clearfix" id="edit-table">

                        <div class="table_main clearfix">
                            <table>
                                <tr>
                                    <th></th>
                                    <th><input type="text" value="超长待机"><a class="icon-delete2"></a></th>
                                    <th><input type="text" value="超长待机"><a class="icon-delete2"></a></th>
                                    <th><input type="text" value="超长待机"><a class="icon-delete2"></a></th>
                                    <th><input type="text" value="超长待机"><a class="icon-delete2"></a></th>
                                    <th><input type="text" value="超长待机"><a class="icon-delete2"></a></th>
                                    <th><input type="text" value="超长待机"><a class="icon-delete2"></a></th>
                                </tr>
                                <tr>
                                    <td class="table_column"><input type="text" value="APPLE"><a class="icon-delete2"></a></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="table_column"><input type="text" value="APPLE"> <a class="icon-delete2"></a></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="table_column"><input type="text" value="APPLE"> <a class="icon-delete2"></a></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                    <td><label class="table_input"><input type="radio"><span></span></label></td>
                                </tr>
                            </table>
                            <a class="add-table add-row">+</a>
                            <a class="add-table add-col">+</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--}表格-->
            <!--输入框{-->
            <div class="edit-col  cur" style="background: url(img/bg6.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">5</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont5">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="dropdownInput">
                        <input type="text" value="南京">
                        <ul class="dropdownInput_list">
                            <li class="selected">南京</li>
                            <li>南昌</li>
                            <li>南昌</li>
                            <li>南昌</li>
                            <li>南昌</li>
                            <li>南京</li>
                            <li>南昌</li>
                            <li>南昌</li>
                            <li>南昌</li>
                            <li>南昌</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--}输入框-->
            <!--上传图{-->
            <div class="edit-col cur" style="background: url(img/bg7.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">6</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>123</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont6">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="upload">
                        <div class="upload_btn">
                            <input type="file">
                        </div>
                        <p class="upload_desc">上传格式仅限: jpg, bmp, png, 2ord, pdf<br>大小不能超过5M</p>
                    </div>
                </div>
            </div>
            <!--}上传图-->
            <!--购买测试{-->
            <div class="edit-col cur" style="background: url(img/bg8.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">10</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>187</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont10">
                   <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <div class="edit-task-addr">
                        <div class="input-group">
                            <span>任务开始地址</span>
                            <input type="text">
                        </div>
                        <div class="input-group">
                            <span>任务结束地址</span>
                            <input type="text">
                        </div>
                        <div class="add-task-addr-btn">
                            <button><i>+</i> 添加任务结束地址</button>
                        </div>
                    </div>                    
                </div>
            </div>
            <!--}购买测试--> 
            <!--产品建议{-->
            <div class="edit-col cur" style="background: url(img/bg.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">11</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>187</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont11">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <a href="" class="edit-btn">点击编辑</a>
                    <div class="edit-area">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <!--}产品建议-->            
            <!--附加任务{-->
            <div class="edit-col cur" style="background: url(img/bg12.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">12</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>187</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont12">
                    <textarea class="edit-title2" placeholder="请填写标题内容"></textarea>
                    <textarea class="edit-intro" placeholder="请填写介绍内容"></textarea>
                </div>
            </div>
            <!--}附加任务-->
            <!--上传图{-->
            <div class="edit-col cur" style="background: url(img/bg13.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">13</span>
                <% include tpl/edittip %>
                <div class="edit-col-comment"><i class="icon-comment"></i>187</div>
                <% include tpl/logic %>
                <div class="edit-col-cont edit-col-cont13">
                    <textarea class="edit-title2">你在什么时候使用手机最频繁?</textarea>
                    <div class="upload pic-upload">
                        <div class="upload-img" style="display: none">
                            <span>+</span><br>图片
                            <input type="file" />
                        </div>
                        <!--上传后{-->
                        <div class="itemset clearfix upload-suc">
                            <div class="item">
                                <i class="icon-delete2"></i>
                                <label>
                                    <input type="radio" name="radio-test">
                                    <div class="item_cell">
                                        <img src="img/pic.jpg" alt="" class="item_img"></span>
                                        <div class="item_text"><input type="text" value="文案文案文案"></div>
                                        <a class="item_cell_edit"></a>
                                    </div>
                                </label>
                                <div class="zoom" onClick="alert('点击缩放跟选中选项分离')"></div>
                            </div>
                        </div>
                        <!--}上传后-->
                        <p class="upload_desc">上传格式仅限: jpg, bmp<br>大小不能超过5M</p>
                    </div>
                </div>
            </div>
            <!--}上传图-->
            <!--end{-->
            <div class="edit-col cur" style="background: url(img/bg.jpg) no-repeat;background-size:cover ">
                <span class="edit-col-num">14</span>
                <div class="edit-col-icon">
                    <a href="" class="icon-mobile"></a>
                </div>
                <div class="edit-col-comment"><i class="icon-comment"></i>3</div>
                <div class="edit-col-cont edit-col-cont1">                    
                    <div class="edit-title">
                        <i class="icon-edit"></i>
                        <textarea>感谢参与调查</textarea>
                    </div>
                    <textarea class="edit-intro">这是一次关于中国互联网产品发展状况的调查，你的手机里到底装了哪些神奇好用的APP，哪些APP占据了你你一屏的位置，哪些APP是你使用频率最高的手机应用。</textarea>
                    <div class="result-btn">
                        <a href="#">查看结果</a>
                    </div>
                </div>
            </div>
            <!--}end-->
         </section>
      </div>
    </div>

    <!--弹层{-->
    <div class="modal fade" id="mobile-show" tabindex="-1" role="dialog" aria-labelledby="mobile-show">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="mobile-bar"></div>
                </div>
                <div class="modal-body">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-panel" id="music-modal" tabindex="-1" role="dialog" aria-labelledby="music-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">取消</span></button>
                    <button type="button" class="edit-save" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">确定</span></button>
                    <h4 class="modal-title">背景音乐</h4>
                </div>
                <div class="modal-body">
                    <ul class="music-list">
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">0KB</span>
                            <span class="music-time">00：00</span>
                            <a class="music-btn pause"></a>
                        </li>
                        <li class="cur-muisc">
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">579KB</span>
                            <span class="music-time">02：56</span>
                            <a class="music-btn play"></a>
                        </li>
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">0KB</span>
                            <span class="music-time">00：00</span>
                            <a class="music-btn pause"></a>
                        </li>
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">579KB</span>
                            <span class="music-time">02：56</span>
                            <a class="music-btn play"></a>
                        </li>
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">0KB</span>
                            <span class="music-time">00：00</span>
                            <a class="music-btn pause"></a>
                        </li>
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">579KB</span>
                            <span class="music-time">02：56</span>
                            <a class="music-btn play"></a>
                        </li>
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">0KB</span>
                            <span class="music-time">00：00</span>
                            <a class="music-btn pause"></a>
                        </li>
                        <li>
                            <span class="music-title">Wrong Club (Club Mix by The Super Criticals) .mp3</span>
                            <i class="music-on"></i>
                            <span class="music-size">579KB</span>
                            <span class="music-time">02：56</span>
                            <a class="music-btn play"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-panel" id="background-modal" tabindex="-1" role="dialog" aria-labelledby="background-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">取消</span></button>
                    <button type="button" class="edit-save" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">确定</span></button>
                    <h4 class="modal-title">背景选择</h4>
                </div>
                <div class="modal-body">
                    <div class="background-list-wrap">
                        <ul class="background-list clearfix">
                            <li><a class="default">默认背景</a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li class="selected"><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                            <li><a><img src="" alt=""></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-panel" id="add-new-reseach" tabindex="-1" role="dialog" aria-labelledby="new-reseach-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">取消</span></button>
                    <button type="button" class="edit-save" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">确定</span></button>
                    <h4 class="modal-title" id="new-reseach-label">新建调查</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-search-col">
                        <input type="text" class="modal-search-input">
                        <i class="modal-icon-search"></i>
                    </div>
                    <div class="row border-show">
                        <div class="col-md-3 modal-left-nav">
                            <ul role="tablist">
                                <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">健康研究小组</a></li>
                                <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Survet开发级</a></li>
                                <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">用户体验报告组</a></li>
                                <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">前端组</a></li>
                                <li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">iOS开发组</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9 modal-right-cont">
                            <div class="tab-content  modal-left-table" >
                                <div role="tabpanel" class="tab-pane active" id="tab1">
                                    <table class="table">
                                        <tr>
                                            <th>姓名</th>
                                            <th>邮箱</th>
                                            <th>所在组</th>
                                            <th>问卷数</th>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox">向曦</td>
                                            <td>406329428@qqcom</td>
                                            <td>市场组，鸡冻组，移动4G…</td>
                                            <td>8</td>
                                        </tr>

                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab2">3</div>
                                <div role="tabpanel" class="tab-pane" id="tab3">4</div>
                                <div role="tabpanel" class="tab-pane" id="tab4">5</div>
                                <div role="tabpanel" class="tab-pane" id="tab5">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-reseach" tabindex="-1" role="dialog" aria-labelledby="delete-reseach-panel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="icon-laugh"></i>
                    <p class="delete-tips">如果你的问卷需要“保密”<br>
                        可先去问卷设置哦~！</p>
                    <button>确定</button>
                    <i data-dismiss="modal" class="delete-close-btn"></i>
                </div>
            </div>
        </div>
    </div>
    <!--}弹层-->

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/spectrum.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script>
        $('#text-color').spectrum({
            color: "#fff"
        })
      $("#flat").spectrum({
        preferredFormat: "hex6",
        flat: true,
        showInput: true,
        allowEmpty:true,
        showAlpha: true
      });
      //输入框聚焦
      $(".dropdownInput input").click(function(){
          $(".dropdownInput_list").show().niceScroll({
              cursorborder:0,
              cursorcolor:'rgba(0, 0, 0, 0.4)'
          });
      })

      $(".dropdownInput_list li").click(function(){
          $(".dropdownInput_list li").removeClass("selected");
          $(this).addClass("selected");
          $(".dropdownInput input").val($(this).html());
          $(".dropdownInput_list").hide();
      })
        $('#left-nav').niceScroll({
            cursorwidth:"8px",
            autohidemode:false,
            cursorcolor:'#90979c'
        })
        $('#edit-table').niceScroll({
            cursorborder:0,
            cursorcolor:'rgba(0, 0, 0, 0.4)'
        });
        $('.logic-page-scroll-bar').niceScroll({
            cursorborder:0,
            autohidemode:false,
            cursorcolor:'rgba(0, 0, 0, 0.4)'
        });
      $('.add-col').css('left',$('.table_main').find('table').width()+1)
    </script>
  </body>
</html>