@charset "UTF-8";
/**
 * 雪碧图
 */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.icon-close {
  background-image: url(../images/sprite.png);
  background-position: -38px -76px;
  width: 24px;
  height: 24px; }

.icon-email {
  background-image: url(../images/sprite.png);
  background-position: -76px 0px;
  width: 34px;
  height: 34px; }

.icon-eye {
  background-image: url(../images/sprite.png);
  background-position: -90px -76px;
  width: 18px;
  height: 9px; }

.icon-facebook {
  background-image: url(../images/sprite.png);
  background-position: 0px -38px;
  width: 34px;
  height: 34px; }

.icon-history {
  background-image: url(../images/sprite.png);
  background-position: -66px -76px;
  width: 20px;
  height: 18px; }

.icon-pen {
  background-image: url(../images/sprite.png);
  background-position: -114px 0px;
  width: 13px;
  height: 11px; }

.icon-sina {
  background-image: url(../images/sprite.png);
  background-position: -76px -38px;
  width: 34px;
  height: 34px; }

.icon-sms {
  background-image: url(../images/sprite.png);
  background-position: 0px -76px;
  width: 34px;
  height: 34px; }

.icon-twitter {
  background-image: url(../images/sprite.png);
  background-position: -38px -38px;
  width: 34px;
  height: 34px; }

.icon-web {
  background-image: url(../images/sprite.png);
  background-position: -38px 0px;
  width: 34px;
  height: 34px; }

.icon-weixin {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 34px;
  height: 34px; }

[class|='icon'] {
  display: inline-block; }

/**
 * variables
 */
/**
 * 核心样式
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.g-wapper {
  width: 798px;
  margin: 0 auto; }

.g-box {
  margin-bottom: 60px; }
  .g-box h1 {
    padding: 0 0 18px 5px;
    font: 18px/18px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #4b5668; }

.g-pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8); }

.z-on {
  display: block; }

.m-box {
  padding: 36px 0 40px 0;
  overflow: hidden;
  background-color: #fff; }

.m-box-item {
  position: relative;
  width: 686px;
  margin: 0 auto 30px auto; }
  .m-box-item .u-box-item-logo {
    position: absolute;
    width: 34px;
    height: 34px; }
  .m-box-item .m-box-item-center {
    width: 550px;
    margin-left: 48px; }
  .m-box-item .u-box-item-button {
    position: absolute;
    width: 64px;
    height: 26px;
    top: 5px;
    right: 0;
    border: solid 1px #ccd2d6;
    border-radius: 15px;
    font: 12px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #4b5668;
    background: #fff;
    outline: none;
    cursor: pointer; }
  .m-box-item .u-box-item-url {
    height: 34px;
    font: 12px/34px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #929ea6; }
  .m-box-item .u-box-item-textarea {
    position: relative; }
    .m-box-item .u-box-item-textarea textarea {
      width: 527px;
      height: 75px;
      padding: 10px;
      border: solid 1px #ccd2d6;
      border-radius: 5px;
      font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #4b5668;
      outline: none;
      resize: none; }
    .m-box-item .u-box-item-textarea .web {
      height: 155px; }
    .m-box-item .u-box-item-textarea span {
      position: absolute;
      bottom: 7px;
      right: 15px;
      font: 12px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #c0cbd2; }
  .m-box-item .u-box-item-icon {
    position: absolute;
    width: 64px;
    height: 18px;
    right: 0; }
    .m-box-item .u-box-item-icon i {
      vertical-align: middle; }
    .m-box-item .u-box-item-icon span {
      position: absolute;
      left: 24px;
      font: 12px/18px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #4f6a7b; }
  .m-box-item .eye-pos {
    top: 50px; }
  .m-box-item .pen-pos {
    top: 75px; }
    .m-box-item .pen-pos i {
      margin-left: 3px; }
  .m-box-item .u-box-item-input {
    width: 527px;
    height: 24px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border: solid 1px #ccd2d6;
    border-radius: 5px;
    font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    outline: none; }
  .m-box-item .m-box-item-url {
    margin-bottom: 35px; }
    .m-box-item .m-box-item-url .u-box-item-url {
      display: inline-block; }
    .m-box-item .m-box-item-url .u-box-item-input {
      width: 340px;
      margin: 0; }

.m-form {
  width: 700px;
  margin: 0 auto; }
  .m-form .m-form-item {
    position: relative;
    height: 35px;
    margin-bottom: 14px; }
    .m-form .m-form-item label {
      display: inline-block;
      height: 100%;
      font: 13px/35px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #4b5668;
      vertical-align: middle; }
    .m-form .m-form-item select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      display: inline-block;
      position: absolute;
      width: 185px;
      height: 100%;
      margin-left: 15px;
      border: solid 1px #ccd2d6;
      font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      text-indent: 18px;
      color: #4b5668;
      background: url(../images/icon-arrow.png) no-repeat scroll 160px center transparent;
      outline: none; }
    .m-form .m-form-item input {
      display: inline-block;
      position: absolute;
      width: 420px;
      height: 20px;
      margin-left: 15px;
      padding: 5px 10px 5px 18px;
      border: solid 1px #ccd2d6;
      border-radius: 5px;
      font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      outline: none; }
    .m-form .m-form-item .u-form-tips {
      margin-top: 5px;
      padding-left: 65px;
      font: 12px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #929ea6; }
  .m-form .u-submit-button {
    width: 80px;
    height: 25px;
    margin-left: 65px;
    border: solid 1px #ccd2d6;
    border-radius: 25px;
    font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #4b5668;
    background: #fff;
    outline: none; }
  .m-form .m-form-item-tips {
    height: auto;
    margin-bottom: 25px; }

.m-pop-list {
  position: fixed;
  width: 675px;
  height: 415px;
  top: 50%;
  left: 50%;
  margin-left: -337.5px;
  margin-top: -207.5px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff; }
  .m-pop-list .u-pop-list-header {
    position: relative;
    height: 45px; }
    .m-pop-list .u-pop-list-header h1 {
      height: 100%;
      font: 16px/45px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      text-align: center;
      color: #4b5668; }
    .m-pop-list .u-pop-list-header a {
      position: absolute;
      top: 15px;
      font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #2bb7c5; }
    .m-pop-list .u-pop-list-header .cancle {
      left: 18px; }
    .m-pop-list .u-pop-list-header .number {
      right: 75px; }
    .m-pop-list .u-pop-list-header .send {
      right: 18px; }
  .m-pop-list .u-pop-list-content {
    width: 100%; }
    .m-pop-list .u-pop-list-content table {
      width: 100%; }
      .m-pop-list .u-pop-list-content table tr {
        width: 100%;
        border-bottom: solid 1px #f0f3f7; }
        .m-pop-list .u-pop-list-content table tr input[type="checkbox"] {
          display: block;
          width: 15px;
          height: 15px;
          margin: 0 auto;
          background: #2bb7c5; }
        .m-pop-list .u-pop-list-content table tr th {
          height: 40px;
          background: #f0f3f7;
          font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
          color: #929ea6;
          text-align: left;
          text-indent: 38px; }
        .m-pop-list .u-pop-list-content table tr th:nth-of-type(1) {
          width: 10%; }
        .m-pop-list .u-pop-list-content table tr th:nth-of-type(2) {
          width: 40%; }
        .m-pop-list .u-pop-list-content table tr th:nth-of-type(3) {
          width: 50%; }
        .m-pop-list .u-pop-list-content table tr td {
          height: 33px;
          font: 13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
          color: #4b5668;
          text-align: left;
          text-indent: 38px; }
        .m-pop-list .u-pop-list-content table tr td:nth-of-type(1) {
          width: 10%;
          text-indent: 0; }
        .m-pop-list .u-pop-list-content table tr td:nth-of-type(2) {
          width: 40%;
          border-right: solid 1px #f0f3f7; }
        .m-pop-list .u-pop-list-content table tr td:nth-of-type(3) {
          width: 50%; }

.m-pop-qrcode {
  position: fixed;
  width: 355px;
  height: 455px;
  top: 50%;
  left: 50%;
  margin-top: -227.5px;
  margin-left: -177.5px;
  border-radius: 10px;
  overflow: hidden;
  background: #f0f3f7; }
  .m-pop-qrcode .u-pop-qrcode-header {
    height: 50px;
    background: #fff; }
    .m-pop-qrcode .u-pop-qrcode-header h1 {
      font: 16px/50px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      text-indent: 15px;
      color: #4b5668; }
    .m-pop-qrcode .u-pop-qrcode-header .close {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 15px;
      right: 15px; }
  .m-pop-qrcode .u-pop-qrcode-content {
    height: 410px; }
    .m-pop-qrcode .u-pop-qrcode-content .tips {
      height: 45px;
      font: 14px/45px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
      color: #929ea6;
      text-align: center; }
    .m-pop-qrcode .u-pop-qrcode-content .qrcode img {
      display: block;
      margin: 0 auto; }
    .m-pop-qrcode .u-pop-qrcode-content .save {
      display: block;
      width: 181px;
      height: 31px;
      margin: 25px auto 0 auto;
      border: solid 1px #c0cbd2;
      border-radius: 25px;
      background: #fff;
      outline: 0;
      cursor: pointer; }

.u-logo {
  position: fixed;
  top: 15px;
  left: 31px;
  width: 77px;
  height: 37px;
  background: url(../images/logo.png) no-repeat; }

.u-history {
  position: fixed;
  top: 19px;
  right: 35px;
  height: 18px;
  font: bold 13px/18px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  text-indent: 28px;
  color: #4b5668; }
  .u-history i {
    position: absolute;
    left: 0; }

.u-title {
  margin: 70px auto 60px auto;
  text-align: center; }
  .u-title h2 {
    margin-bottom: 12px;
    font: 13px/13px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #929ea6; }
  .u-title h1 {
    font: bold 28px/28px tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #151515; }

.u-copyright {
  width: 145px;
  height: 35px;
  margin: 0 auto 50px auto;
  background: url(../images/copyright.png) no-repeat; }

html, body {
  height: 100%;
  background-color: #e9eff3; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000;
  text-decoration: none; }
