@import "_base";
@import "_widget";

/* page */
.bg,.wrap,.page{
  position: absolute;top: 0;right: 0;bottom: 0;left: 0;
}
.wrap{overflow: hidden;}
.page{
  transform:translate3d(0,100%,0);transition:transform 0.2s, opacity 0.2s;opacity: 0;visibility: hidden;
}
.page-in{transform:translate3d(0,0,0);opacity: 1;visibility: visible;}
.page-out{transform:translate3d(0,-100%,0);opacity: 0;}

.go{position: absolute;bottom: 100px;right: 0;left: 0;margin: auto;width: 100px;height: 100px;background-color: red;}