.m-box{
    padding: 36px 0 40px 0;
    overflow: hidden;
    background-color: #fff;
}

.m-box-item {
    position: relative;
    width: 686px;
    margin: 0 auto 30px auto;

    .u-box-item-logo {
        position: absolute;
        left: 0;
        width: 34px;
        height: 34px;
    }

    .m-box-item-center {
        position: relative;
        width: 550px;
        margin-left: 48px;
    }

    .u-box-item-button {
        position: absolute;
        width: 64px;
        height: 26px;
        top: 5px;
        right: 0;
        border: solid 1px #ccd2d6;
        border-radius: 15px;
        font: 12px $global-font-family;
        color: #4b5668;
        background: #fff;
        outline: none;
        cursor: pointer;
    }

    .u-box-item-url {
        height: 34px;
        font: 12px/34px $global-font-family;
        color: #929ea6;
    }

    .u-box-item-textarea {
        position: relative;

        textarea {
            width: 527px;
            height: 75px;
            padding: 10px;
            border: solid 1px #ccd2d6;
            border-radius: 5px;
            font: 13px $global-font-family;
            color: #4b5668;
            outline: none;
            resize: none;
        }

        .web {
            height: 155px;
        }

        span {
            position: absolute;
            bottom: 7px;
            right: 15px;
            font: 12px $global-font-family;
            color: #c0cbd2;
        }
    }

    .u-box-item-icon {
        position: absolute;
        width: 64px;
        height: 18px;
        right: 0;
        
        i {
            vertical-align: middle;
        }

        span {
            position: absolute;
            left: 24px;
            font: 12px/18px $global-font-family;
            color: #4f6a7b;
        }
    }

    .eye-pos {
        top: 50px;
    }

    .pen-pos {
        top: 75px;

        i {
            margin-left: 3px;
        }
    }

    .u-box-item-input {
        position: relative;
        width: 527px;
        height: 34px;
        left: 0;
        margin-bottom: 10px;
        padding: 0 10px 0 10px;
        border: solid 1px #ccd2d6;
        border-radius: 5px;
        font: 13px/34px $global-font-family;
        outline: none;
    }

    .m-box-item-url {
        margin-bottom: 35px;

        .u-box-item-url {
            display: inline-block;
        }

        .u-box-item-input {
            display: inline-block;
            width: 340px;
            width: 330px\9;
            margin: 0;
        }
    }
}

.m-form {
    width: 700px;
    margin: 0 auto;

    .m-form-item {
        position: relative;
        height: 35px;
        margin-bottom: 14px;

        label {
            display: inline-block;
            height: 100%;
            font: 13px/35px $global-font-family;
            color: #4b5668;
            vertical-align: middle;
        }

        select {
            appearance: none;
            display: inline-block;
            position: absolute;
            width: 185px;
            height: 35px;
            margin-left: 15px;
            border: solid 1px #ccd2d6;
            font: 13px/35px $global-font-family;
            text-indent: 18px;
            color: #4b5668;
            background: url(../images/icon-arrow.png) no-repeat scroll 160px center transparent;
            background: none\9;
            outline: none;
        }

        // select:-ms-expand  {
        //     display: none;
        // }

        input {
            display: inline-block;
            position: absolute;
            width: 420px;
            height: 30px;
            margin-left: 15px;
            padding: 0 10px 0 18px;
            border: solid 1px #ccd2d6;
            border-radius: 5px;
            font: 13px/30px $global-font-family;
            outline: none;
        }

        .u-form-tips {
            margin-top: 5px;
            padding-left: 65px;
            font: 12px $global-font-family;
            color: #929ea6;
        }
    }

    .u-submit-button {
        width: 80px;
        height: 25px;
        margin-left: 65px;
        border: solid 1px #ccd2d6;
        border-radius: 25px;
        font: 13px $global-font-family;
        color: #4b5668;
        background: #fff;
        outline: none;
    }

    .m-form-item-tips {
        height: auto;
        margin-bottom: 25px;
    }
}

.m-pop-list {
    position: fixed;
    width: 935px;
    height: 580px;
    top: 50%;
    left: 50%;
    margin-left: -935 / 2 + px;
    margin-top: -580 / 2 + px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;

    .u-pop-list-header {
        position: relative;
        height: 48px;
        border-bottom: solid 1px #dae0e4;

        h1 {
            height: 100%;
            font: 16px/48px $global-font-family;
            text-align: center;
            color: #4b5668;
        }

        a {
            position: absolute;
            top: 15px;
            font: 13px $global-font-family;
            color: #2bb7c5;
        }

        .cancle {
            left: 18px;
        }

        .number {
            right: 75px;
        }

        .send {
            right: 18px;
        }

    }

    .u-pop-list-main {
        .u-left {
            float: left;
            width: 253px;
            height: 530px;
            border-right: solid 1px #dae0e4;
            overflow: auto;

            .u-left-list {
                overflow-y: scroll;

                .search {
                    position: relative;
                    width: 253px;
                    height: 37px;
                    border-bottom: solid 1px #dae0e4;
                    font-size: 13px;

                    input {
                        padding: 12px 18px 12px 25px;
                        width: 210px;
                        height: 13px;
                        border: none;
                        outline: none;
                        color: #c0cbd2;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 8px;
                        right: 25px;
                        width: 16px;
                        height: 17px;
                        background: url(../images/icon-search.png) no-repeat;
                    }
                }

                .list {
                    overflow: hidden;

                    h1 {
                        position: relative;
                        width: 100%;
                        height: 40px;
                        color: #4b5668;
                        font-size: 13px;
                        text-indent: 25px;
                        line-height: 40px;
                        background-color: #ebeef0;
                        cursor: pointer;
                        z-index: 10;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 15px;
                            right: 20px;
                            width: 8px;
                            height: 8px;
                            background-color: #757778;
                            -webkit-transition: all .3s ease-in-out;
                            -webkit-transform: rotate(-45deg);
                            -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
                        }

                        &.on {
                            &::after  {
                                -webkit-transform: rotate(45deg);
                            }
                        }
                    }

                    .main {
                        // display: none;
                        width: 100%;
                        height: 0;
                        padding: 5px 0;
                        // -webkit-transform: translateY(-100%);
                        -webkit-transition: all .3s ease-in-out;
                        opacity: 0;
                        overflow: hidden;

                        &.on {
                            // display: block;
                            // -webkit-transform: translateY(0);
                            height: 100%;
                            opacity: 1;
                        }

                        dl {
                            margin: 0;
                            width: 100%;

                            dt {
                                position: relative;
                                width: 100%;
                                height: 30px;
                                font-size: 13px;
                                line-height: 30px;
                                text-indent: 40px;
                                color: #4b5668;
                                cursor: pointer;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 11px;
                                    height: 11px;
                                    top: 9px;
                                    left: 25px;
                                    background: url(../images/icon-open.png) no-repeat;
                                }
                            }

                            dd {
                                margin: 0;
                                width: 100%;
                                height: 27px;
                                font-size: 12px;
                                line-height: 27px;
                                text-indent: 25px;
                                background: #fff;
                                cursor: pointer;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                &:hover {
                                    background: #f3f6f8;
                                }
                            }

                            &.tree {
                                dt {
                                    &.on::before {
                                        background: url(../images/icon-close.png) no-repeat;
                                    }

                                    &.on~dd {
                                        display: block;
                                    }
                                }

                                dd {
                                    display: none;
                                    text-indent: 40px;
                                }
                            }
                        }

                        .blue {
                            display: block;
                            width: 100%;
                            height: 30px;
                            font-size: 13px;
                            color: #2bb7c5;
                            text-indent: 25px;
                            line-height: 30px;
                        }

                    }
                }
            }
        }

        .u-right {
            float: left;
            width: 680px;
            height: 530px;
            background: #fff;

            .u-right-title {
                width: 100%;
                height: 60px;
                font-size: 13px;
                line-height: 80px;
                text-indent: 30px;
                color: #4b5668;
            }

            .u-right-main {
                width: 100%;
                height: 470px;
                overflow: auto;

                .list {
                    width: 100%;
                    // height: 100%;
                    overflow-y: scroll;

                    .box {
                        float: left;
                        position: relative;
                        width: 47px;
                        height: 60px;
                        margin: 0 30px 30px 30px;

                        .headimg {
                            position: absolute;
                            width: 38px;
                            height: 38px;
                            top: 6px;
                            left: 0;
                            border-radius: 38px;
                            overflow: hidden;

                            img {
                                border-radius: 38px;
                            }
                        }

                        p {
                            position: absolute;
                            width: 38px;
                            bottom: 0;
                            left: 0;
                            font-size: 12px;
                            text-align: center;
                            color: #4b5668;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .close {
                            position: absolute;
                            width: 13px;
                            height: 13px;
                            top: 0;
                            right: 0;
                            background: url(../images/icon-headimg-close.png) no-repeat;
                        }
                    }
                }
            }
        }
    }

}

.m-pop-qrcode {
    position: fixed;
    width: 355px;
    height: 455px;
    top: 50%;
    left: 50%;
    margin-top: -455 / 2 + px;
    margin-left: -355 / 2 + px;
    border-radius: 10px;
    overflow: hidden;
    background: #f0f3f7;

    .u-pop-qrcode-header {
        height: 50px;
        background: #fff;

        h1 {
            font: 16px/50px $global-font-family;
            text-indent: 15px;
            color: #4b5668;
        }

        .close {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 15px;
            right: 15px;
        }
    }

    .u-pop-qrcode-content {
        height: 410px;

        .tips {
            height: 45px;
            font: 14px/45px $global-font-family;
            color: #929ea6;
            text-align: center;
        }

        .qrcode {

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .save {
            display: block;
            width: 181px;
            height: 31px;
            margin: 25px auto 0 auto;
            border: solid 1px #c0cbd2;
            border-radius: 25px;
            background: #fff;
            outline: 0;
            cursor: pointer;
        }
    }
}


