@charset "utf-8";
@mixin  ani{
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
}
@mixin navsprite($width,$height,$bg){
  width: $width;
  height: $height;
  background: url(../slice/#{$bg}) no-repeat;
}
@import "module/header";
@import "module/aside";
@import "module/spectrum";
@import "module/research";
@import "module/edit";
body {
  padding-top: 52px;
  font-size: 13px;
  font-family: "Microsoft YaHei",simSun,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;;
  color: #4b5668;
  background: #e9eff3;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: 0;
}

.clx:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.flr {
  float: right;
  margin-right: 0;
}
.g-thide{
  text-indent: -9999rem;
}
.txt-center {
  text-align: center;
}

.main {
  margin-left: 199px;
  padding: 26px 207px 0 38px;
  background: #e9eff3;
  overflow-x: hidden;
}