@charset "UTF-8";
/*
*
* reset, 全局设定, 变量
*
*/
/* vars */
/* #reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, pre, form, fieldset, legend {
  margin: 0; }

ul, ol, fieldset {
  margin: 0;
  padding: 0; }

th, td {
  padding: 0; }

table {
  font-size: inherit;
  border-collapse: collapse; }

fieldset, img {
  border: none; }

ul, ol, li {
  list-style: none; }

h1, h2, h3, h4 {
  font-size: 18px;
  font-weight: normal; }

input, textarea, select, button {
  font-size: inherit;
  font-family: inherit; }

a, a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

/* vars */
/*base*/
html, body {
  height: 100%;
  font-size: 12px;
  line-height: 1;
  font-family: "Microsoft Yahei",SimSun, Arial, sans-serif;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

a {
  color: #fff; }

/* functional */
.wrap {
  padding-bottom: 78px;
  min-height: 100%;
  box-sizing: border-box;
  background:url(../images/bg_q0.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed; }

.title {
  width:806px;
  margin:0 auto;
  padding: 66px 0 26px 66px;
  font-size: 24px; 
  letter-spacing:6px;}

.desc {
  width:806px;
  margin:0 auto;
  font-size: 14px;
  line-height: 30px;
  padding: 0 0 16px 66px; }

.question {
  width:850px;
  margin:0 auto;
  margin-bottom: 50px;
  padding-left:22px;}
  .question_title {
    font-size: 18px;
    margin-bottom:26px;}
  .question_subtitle {
    font-size: 16px;
    margin-top: 26px;
    margin-bottom:14px;
    margin-left: 46px;}
    .question_title_num {
	  display:block;
	  float:left;
	  width:20px;
      margin-right: 24px; }

.ratebar {
  position: relative;
  margin-left: 46px;
  margin-bottom: 12px;
  width: 685px;
  height: 28px;
  box-sizing: border-box;
  line-height: 28px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.6); }
  .ratebar:last-child {
    margin-bottom: 0; }
  .ratebar_highlight {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #4d4c6a; }
  .ratebar_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 14px; }

.ratebar_selected .ratebar_highlight {
  background: #2bb7c5; }

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; }
  .bottom .copyright {
      position:absolute;
	  top:0;
	  right:26px;
      width: 165px;
      height: 45px;
      background:url(../images/pc/copyright.png) right 3px no-repeat;}
  .bottom .signup {
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.78); }
  .bottom .signup .sign_word{
	  width:210px;
	  margin:0 auto;
	  padding-right:20px;
      background:url(../images/pc/rec.png) right 15px no-repeat;
  }
