/* #reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, pre, form, fieldset, legend {
  margin: 0;
}
ul, ol, fieldset {
  margin: 0;
  padding: 0;
}
th, td {
  padding: 0;
}
table {
  font-size: inherit;
}
fieldset, img {
  border: none;
}
ul, ol, li {
  list-style: none;
}
h1, h2, h3, h4 {
  font-size: 18px;
  font-weight: normal;
}
input, textarea, select, button {
  font-size: inherit;
}
a, a:hover {
  text-decoration: none;
}
:focus {
  outline: none;
}

/*base*/
html, body {
  height: 100%;
  font-size: 12px;
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* widget */
.item{
  /* 文字选项 */
  display:block;
  height:40px;
  border-radius:21px;
  overflow:hidden;
  border:1px solid #00f;
}
.itemWithImg{
  /* 图文选项 */
  float:left;
  height:auto;
}
.item-img{
  display:block;
  width:100px;
  height:100px;
  margin-bottom:5px;
}
.item-input{
  position:absolute;top:-9999px;left:-9999px;
}
.item-fakeInput{
  float:left;
  width:20px;
  height:20px;
  margin:10px 10px 0 10px;
  background:red;
}
.item-input:checked + .item-fakeInput{
  background:green;
}
.item-text{
  display:block;
  height:40px;
  line-height:40px;
  padding-right:10px;
  overflow:hidden;
}


/* page */
.bg,.wrap,.page{
  position: absolute;top: 0;right: 0;bottom: 0;left: 0;
}
.wrap{overflow: hidden;}
.page{
  transform:translate3d(0,100%,0);transition:transform 0.2s, opacity 0.2s;opacity: 0;visibility: hidden;
}
.page-in{transform:translate3d(0,0,0);opacity: 1;visibility: visible;}
.page-out{transform:translate3d(0,-100%,0);opacity: 0;}

.go{position: absolute;bottom: 100px;right: 0;left: 0;margin: auto;width: 100px;height: 100px;background-color: red;}