/* line 3, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-fixed-top {
  border: 0;
}

/* line 7, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar {
  height: 52px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

/* line 12, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-bac {
  background: #502d89;
}

/* line 16, E:/servet-fedpage/edit/src/sass/module/header.scss */
.logo {
  padding: 0;
  height: 52px;
}

@media (max-width: 768px) {
  /* line 21, E:/servet-fedpage/edit/src/sass/module/header.scss */
  .container-fluid {
    padding-right: 0;
  }
  /* line 24, E:/servet-fedpage/edit/src/sass/module/header.scss */
  .navbar-header {
    float: left;
  }
  /* line 27, E:/servet-fedpage/edit/src/sass/module/header.scss */
  .navbar-right {
    float: right;
    margin-right: 0;
  }
}

/* line 32, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-right-btn {
  display: block;
  float: right;
  height: 52px;
  line-height: 52px;
  margin-left: 25px;
  font-size: 12px;
  color: #fff;
}

/* line 40, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-right-btn:hover {
  color: #fff;
  text-decoration: none;
}

/* line 45, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-right-btn1 {
  width: 56px;
  height: 31px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #3d92c7;
  border-radius: 31px;
  text-align: center;
  line-height: 31px;
  color: #2bb7c5;
  margin-top: 10px;
  margin-right: 20px;
}

/* line 58, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-right-btn1:hover {
  color: #2bb7c5;
}

/* line 62, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-right-btn3 {
  width: 19px;
  height: 20px;
  background: url(../slice/tool.png) no-repeat;
  margin-top: 16px;
}

/* line 66, E:/servet-fedpage/edit/src/sass/module/header.scss */
.navbar-right-btn4 {
  width: 23px;
  height: 19px;
  background: url(../slice/music.png) no-repeat;
  margin-top: 16px;
}

/* line 70, E:/servet-fedpage/edit/src/sass/module/header.scss */
.topic {
  display: block;
  width: 19px;
  height: 19px;
  background: url(../slice/topic.png) no-repeat;
  position: absolute;
  left: 205px;
  top: 18px;
}

/* line 2, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.sidebar {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  width: 194px;
  z-index: 1000;
  display: block;
  overflow: hidden;
  background: #f3f6f8;
  border-right: 1px solid #ccd2d6;
}

/* line 14, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-btn {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 19, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-btn li {
  width: 165px;
  height: 60px;
  margin-left: 6px;
}

/* line 23, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-btn li a {
  display: block;
  padding-left: 25px;
  color: #4b5668;
  font-size: 12px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
}

/* line 32, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-btn li a:hover {
  text-decoration: none;
  box-shadow: 0 0 10px #70ACFF;
}

/* line 36, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-btn li a i {
  display: inline-block;
  width: 32px;
}

/* line 39, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-btn li a i em {
  display: block;
  position: relative;
  top: 4px;
}

/* line 49, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon1 em {
  width: 18px;
  height: 17px;
  background: url(../slice/icon-1.png) no-repeat;
}

/* line 52, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon2 em {
  width: 16px;
  height: 16px;
  background: url(../slice/icon-2.png) no-repeat;
}

/* line 55, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon3 em {
  width: 18px;
  height: 18px;
  background: url(../slice/icon-3.png) no-repeat;
}

/* line 58, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon4 em {
  width: 17px;
  height: 17px;
  background: url(../slice/icon-4.png) no-repeat;
}

/* line 61, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon5 em {
  width: 18px;
  height: 17px;
  background: url(../slice/icon-5.png) no-repeat;
}

/* line 64, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon6 em {
  width: 17px;
  height: 15px;
  background: url(../slice/icon-6.png) no-repeat;
}

/* line 67, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon7 em {
  width: 20px;
  height: 20px;
  background: url(../slice/icon-7.png) no-repeat;
}

/* line 70, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon8 em {
  width: 18px;
  height: 15px;
  background: url(../slice/icon-8.png) no-repeat;
}

/* line 73, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon9 em {
  width: 17px;
  height: 15px;
  background: url(../slice/icon-9.png) no-repeat;
}

/* line 76, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon10 em {
  width: 14px;
  height: 20px;
  background: url(../slice/icon-10.png) no-repeat;
}

/* line 79, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon11 em {
  width: 23px;
  height: 16px;
  background: url(../slice/icon-11.png) no-repeat;
}

/* line 82, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.nav-icon12 em {
  width: 20px;
  height: 22px;
  background: url(../slice/icon-12.png) no-repeat;
}

/* line 87, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav {
  width: 280px;
  background: #e2e5e7;
  position: fixed;
  right: 0;
  top: 52px;
  bottom: 0;
}

/* line 94, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-group {
  margin-left: 1px;
}

/* line 97, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-group .panel {
  border-radius: 0;
  margin-top: 0;
  border: 0;
  border-top: 1px solid #d5dbdf;
  margin-bottom: -1px;
}

/* line 104, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading {
  background: none;
  border: 0;
  padding: 0;
}

/* line 108, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading h4 {
  font-size: 12px;
  color: #4b5668;
  height: 49px;
  line-height: 49px;
  border-bottom: 1px solid #d5dbdf;
  border-radius: 0;
  padding: 0 0 0 16px;
  font-weight: 600;
  position: relative;
}

/* line 118, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading h4 i {
  position: absolute;
  right: 20px;
}

/* line 122, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading h4.panel-title {
  background: #e2e5e7;
}

/* line 124, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading h4.panel-title i {
  top: 20px;
  width: 10px;
  height: 5px;
  background: url(../slice/collapsed.png) no-repeat;
}

/* line 129, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading h4.collapsed {
  background: #f3f6f8;
}

/* line 131, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-heading h4.collapsed i {
  top: 22px;
  width: 5px;
  height: 10px;
  background: url(../slice/collapse.png) no-repeat;
}

/* line 138, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-collapse .panel-body {
  border-top: 0 !important;
}

/* line 141, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.right-nav .panel-collapse {
  background: #e2e5e7;
}

/* line 145, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.theme {
  width: 123px;
  margin: 0 auto;
}

/* line 148, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.theme li {
  width: 123px;
}

/* line 150, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.theme li a {
  display: block;
}

/* line 153, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.theme li p {
  color: #878787;
  font-size: 12px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  margin-top: 5px;
}

/* line 161, E:/servet-fedpage/edit/src/sass/module/aside.scss */
.theme li img {
  display: block;
  width: 123px;
  height: 77px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.51);
}

/* line 14, E:/servet-fedpage/edit/src/sass/common.scss */
body {
  padding-top: 52px;
  font-size: 13px;
  font-family: "Microsoft YaHei",simSun,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
  color: #4b5668;
  background: #e9eff3;
}

/* line 22, E:/servet-fedpage/edit/src/sass/common.scss */
ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 28, E:/servet-fedpage/edit/src/sass/common.scss */
button {
  border: none;
  outline: 0;
}

/* line 33, E:/servet-fedpage/edit/src/sass/common.scss */
.clx:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 41, E:/servet-fedpage/edit/src/sass/common.scss */
.flr {
  float: right;
  margin-right: 0;
}

/* line 45, E:/servet-fedpage/edit/src/sass/common.scss */
.g-thide {
  text-indent: -9999rem;
}

/* line 48, E:/servet-fedpage/edit/src/sass/common.scss */
.txt-center {
  text-align: center;
}

/* line 52, E:/servet-fedpage/edit/src/sass/common.scss */
.main {
  margin-left: 199px;
  padding: 30px 24px 0 38px;
  background: #e9eff3;
  overflow-x: hidden;
}
/*# sourceMappingURL=common.css.map */