body { 
    padding-top: 52px;
    font-size: 13px;
    font-family: "宋体",Arial,sans-serif;
    color: #4b5668;
    background: #e9eff3;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    outline: 0;
}

.clx:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.flr { 
    float: right;
    margin-right: 0;
}

.txt-center {
    text-align: center;
}

.navbar-fixed-top {
  border: 0;
}

.navbar {    
    height: 52px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}
.navbar-bac {
    background: #502d89;
}

.logo {
    padding: 0;
    height: 52px;
}

.navbar-right:hover .navbar-message {
    background: url('../img/icon_top_message_hover.png') no-repeat;
}

.navbar-right:hover .right-side {
    display: block;
}

.navbar-message { 
    display: block;
    width: 51px;
    height: 52px;
    background: url('../img/icon_top_message.png') no-repeat;
}

@media (max-width: 768px) {
    .container-fluid {
        padding-right: 0;
    }

    .navbar-header {
        float: left;
    }

    .navbar-right {
        float: right;
        margin-right: 0;
    }
}

.right-side {
    display: none;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;    
    width: 269px;
    color: #4b5668;
    border-left: 1px solid #dae0e4;
    background: #fff;    
}

.right-side-tab {
    padding: 0 17px;
}

.right-side-tab li {
    float: left;
    width: 77px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #929ea6;
    border-bottom: 1px solid #e7e7e7;
}

.right-side-tab li:hover, .right-side-tab .active {   
    color: #4b5668; 
    border-bottom: 2px solid #2bb7c5;
    cursor: default;
}

.right-side-cont {
    overflow-y: auto;
    height: 100%;
}

.cont-list {
    margin-top: 25px;
    padding: 0 17px;
}

.cont-user {
    height: 30px;
    line-height: 30px;
}

.cont-user img {
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.cont-date {
    float: right;
    margin-right: 5px;
    color: #929ea6;
}

.cont-article {
    position: relative;
    margin: 7px 0 8px;
    padding: 15px 13px;
    background: #f3f0f7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.cont-article:after {
    content:"";
    position:absolute;
    bottom:100%;
    left:45px;
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:transparent transparent #f3f0f7 transparent;
}

.cont-origin span {
    margin-left: 5px;
    color: #929ea6;
}

.cont-part {
    display: none;
}

#invite-cont {
    margin-top: 15px;
}

#invite-cont .cont-list {
    margin-top: 0;
}

#invite-cont .cont-user {
    padding-top: 10px;
}

.invite-article {
    padding-left: 38px;
    margin-bottom: 10px;
    margin-top: 8px;
    color: #929ea6;
}

.invite-origin {
    padding-left: 38px;
    padding-bottom: 20px;
}

#invite-cont .cont-list:nth-child(even) {
    background: #f3f0f7;
}

.sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    width: 199px;    
    z-index: 1000;
    display: block;    
    overflow: hidden;
    background: #f3f6f8;
    border-right: 1px solid #ccd2d6;
}

.user {     
    margin: 23px 22px 26px;    
    border-bottom: 1px solid #e8e8e8;    
}

.user-photo { 
    text-align: center;
    background: url('../img/icon_reseacher.png') center no-repeat;
}

.user-photo img {
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;    
}

.user-name {
    margin-top: 14px;
    margin-bottom: 18px;
    text-align: center;
    font-size: 14px;
    color: #4b5668;
}

.user-description { 
    margin-bottom: 20px;
    font-size: 12px;
    color: #4f6a7b;
}

.group {
    top: 230px;
    position: absolute;
    bottom: 0;
    width: 199px;
    overflow-x: hidden;
    overflow-y: auto;     
}  

.group-header { 
    padding: 0 14px 0 22px;
    margin-bottom: 14px;
    font-size: 12px;
}

.add-group-btn {
    display: block;
    float: right;
    width: 10px;
    height: 18px;
    background: url('../img/icon_list_item_01.png') center no-repeat;
}

#add-group .modal-dialog {
    width: 935px;  
    margin-top: 130px;       
}

#copy-reseach .modal-dialog, #delete-reseach .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -210px;
    margin-bottom: 0;
    width: 420px;
    height: 282px;
}

#add-new-reseach .modal-dialog {
    width: 930px; 
    margin-top: 130px;           
}

.modal-content {
    background: #fff;  
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
}

.modal-header {
    position: relative;
    padding: 14px;
    height: 48px;
    line-height: 48px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);
}

#add-group .close, #add-new-reseach .close, #copy-reseach .close {
    position: absolute;
    margin: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 20px;
    left: 21px;
    font-size: 13px;
    color: #2bb7c5;
    text-shadow: none;
    font-weight: normal;
}

#add-group .confirm, #copy-reseach .confirm {
    position: absolute;
    padding: 0;
    line-height: 1;
    top: 20px;
    right: 21px;
    font-size: 13px;
    background: none;
    color: #2bb7c5;
    text-shadow: none;
}

.modal-title {
    text-align: center;
}

.modal-body {
    padding: 0;
    -webkit-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#copy-reseach .modal-body {
    padding: 55px 28px 0;
    height: 233px;
    background: #f0f3f7;    
}

#delete-reseach .modal-body {
    position: relative;      
    padding-top: 89px;  
    width: 420px;
    height: 282px;  
    text-align: center;  
}

#delete-reseach .icon-cry {
    position: absolute;
    top: 53px;
    left: 76px;
    display: inline-block;
    width: 61px;
    height: 67px;
    background: url('../img/icon_delete_tip.png') no-repeat;
}

#delete-reseach .delete-tips {   
    margin-bottom: 75px; 
    text-align: center;
    text-indent: 22px;
    font-size: 20px;
    color: #4b5668;
}

#delete-reseach button {
    padding: 0;
    width: 143px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #33babe;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

#delete-reseach .delete-close-btn {
    display: block;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 29px;
    height: 29px;
    background: url('../img/icon_close_btn_01.png') no-repeat;
    /*-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.08);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.08);*/    
    cursor: default;
}

#add-group .part-a {
    padding: 43px 64px 64px;
    background: #f0f3f7;
}

#group-name, #copy-name {
    padding: 5px;    
    width: 100%;
    font-size: 24px;
    color: #9da4af;
    border: none;
    border-bottom: 1px solid #ccd2d6;
    background: transparent;
    outline: 0;
}

#copy-name {
    font-size: 14px;
}

#copy-name::selection {
    color: #fff;
    background: #3399ff;
}

.part-a p {
    margin-top: 50px;
    margin-bottom: 10px;
    color: #aaa;
}

#add-group .icon-email {
    display: inline-block;   
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background: url('../img/icon_send_mail.png') no-repeat;
}

#email-input {
    padding: 8px 15px;
    margin-left: 8px;
    margin-right: 10px;
    width: 350px;
    padding-top: 0\9;
    padding-bottom: 0\9;
    height: 34px\9;
    line-height: 34px\9;
    background: #fff;
    vertical-align: middle;
    color: #bcc0c7;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccd2d6;
    outline: none;
}

#add-group .send-email-btn {
    padding: 5px 22px;
    vertical-align: middle;
    border: 1px solid #ccd2d6;
    color: #4b5668;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: transparent;
}

.seach-panel {
    height: 40px;
    line-height: 40px;
}

#seach-input {
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-top: 0\9;
    padding-bottom: 0\9;
    padding-left: 36px;
    margin-right: 18px;
    margin-top: 7px;
    width: 172px;
    height: 28px;
    line-height: 28px\9;
    color: #929ea6;
    background: url('../img/icon_seach.png') 8px center no-repeat;
    background-color: #f0f3f7;
    border: 0;
    outline: none;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.seach-content {
    border-top: 1px solid #e5e5e5;
    color: #878e9a;
}

.seach-group {
    float: left;
    width: 200px; 
    overflow: hidden;   
}

.seach-group-name {
    width: 200px;
    height: 37px;
    overflow: hidden;
    line-height: 37px;
    padding-left: 25px;
    color: #4b5668;
}

.seach-group-name:hover, .group-name-sel {   
    background: #2bb7c5;
    color: #fff;
    cursor: default;
}

.seach-result {
    float: right;
    width: 733px;
}

.seach-result .table {
    border: 0;
    color: #4b5668;
}

.seach-result .table thead th {
    padding-left: 17px;
    border: 0;
    border-bottom: 1px solid #d8dade;
    background: #f0f3f7;
    color: #b1bac1;
    font-weight: normal;
}    

.seach-result .table thead th:first-child {
    border-left: 1px solid #f0f3f7;
}

.seach-result .table td {
    padding-left: 17px;
    border-color: #f0f3f7;
}

.seach-result .table td:last-child {
    border-right: 0;
}

.seach-result .table tr:hover td {    
    color: #2bb7c5;
}

.seach-result .table tbody tr:first-child td {
    border-top: 0;
}

.seach-result .table thead th.first-row, .seach-result .table td.first-row {
    padding-left: 27px;
}

.first-row input {
    width: 0;
    height: 0;
    visibility: hidden;
    vertical-align: middle;
}

.first-row label {
    display: block;
    margin-top: 1px;
    float: left;
    width: 14px;
    height: 14px;
    border: 1px solid #9c9c9c;
    margin-right: 18px;
    vertical-align: middle;
    background: #fff;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.first-row input:checked+label {
    margin-top: 1px;
    width: 14px;
    height: 14px;
    border: 0;
    background: url('../img/icon_checked.png') no-repeat;
}

.group:hover .add-group-btn {
    background: url('../img/icon_list_item_02.png') center no-repeat;
}

.group-member {
    background: #f3f6f8;
    border-top: 1px solid #ccd2d6;
}

.group-member ul {
    display: none;
    margin-bottom: 0;    
}

.display-btn {    
    margin: 0 14px 0 22px; 
    height: 58px;
    line-height: 58px;
    font-size: 13px;    
    font-weight: normal;
    background: url('../img/icon_list_item_03.png') right center no-repeat;
    cursor: default;
}

.group-member li {   
    margin-bottom: 5px;
}

.group-member li, .add-new-member {     
    padding: 0 14px 0 22px;
    height: 35px;
    line-height: 35px;
}

.group-member li:hover {
    background: #e3e4eb;
}

.delete-member-btn {
    display: none;
    float: right;
    height: 35px;
    width: 18px;
    background: url('../img/icon_list_item_05.png') center no-repeat;
}

.delete-member-btn:hover {
    cursor: default;
    background: url('../img/icon_list_item_06.png') center no-repeat;
}

.group-member li:hover i {
    display: block;
}

.avatar { 
    margin-right: 10px;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
}

.group-selected {
    padding-bottom: 24px;
    background: #ebeef0;
}

.group-selected .display-btn {
    background: url('../img/icon_list_item_04.png') right center no-repeat;
}  

.add-new-member {  
    color: #929ea6;
}

.add-new-member:hover {
    background: none !important;
}

.add-new-member a {
    display: block;
    height: 35px;
    line-height: 35px;
}

.add-new-member a:hover {
    text-decoration: none;
    color: #00ddf3;
}

.add-new-member em {
    display: inline-block;
    float: left;
    height: 35px;
    background: url('../img/icon_list_item_07.png') left center no-repeat;
} 

.add-new-member:hover em {
    background: url('../img/icon_list_item_08.png') left center no-repeat;
}

.main {
    margin-left: 199px;
    padding: 30px 24px 0 38px;
    background: #e9eff3;
    overflow-x: hidden;
}

.main-header { 
    padding-bottom: 18px;
    border-bottom: 1px solid #dbe0e4;
}

.main-header span {
    color: #4b5668;
}

.main-header span:first-child {
    margin-right: 34px;
}

.main-header span:nth-child(2) {
    margin-right: 58px;
}

.main-header strong {
    font-size: 24px;
}

.main-header a {
    margin-left: 5px;
    color: #2bb7c5;
    text-decoration: none;
}

.main-header button {
    float: right;
    height: 30px;
    line-height: 30px;
    display: block;
    text-indent: 35px;
    padding-right: 26px;    
    color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background: url('../img/icon_list_item_09.png') 26px center no-repeat;
    background-color: #2bb7c5;
}

.main-list {
    margin-top: 28px;
    margin-right: -32px;
}

.main-list li {
    float: left;
    margin-right: 32px;
    margin-bottom: 28px;
    width: 344px;        
}

.list-detail {
    width: 344px;
    height: 144px;
    -webkit-box-shadow: 2px -2px 4px 0 rgba(0,0,0,0.08);
    box-shadow: 2px -2px 4px 0 rgba(0,0,0,0.08);
}

.list-img {
    position: relative;
    float: left;
    width: 200px;
    height: 144px;   
    line-height: 144px; 
    -webkit-box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.08);
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.08);
}

.list-img img {
    display: block;
    width: 200px;
    height: 144px;
}

.list-img:hover .list-img-hover {
    display: block;
} 

.list-img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}

.list-img-hover button {
    margin-left: 25px;
}

.icon-report {
    width: 16px;
    height: 16px;
    background: url('../img/icon_survey_hover01.png') no-repeat;
}

.icon-copy {
    width: 16px;
    height: 18px;
    background: url('../img/icon_survey_hover02.png') no-repeat;
}

.icon-delete {
    width: 15px;
    height: 18px;
    background: url('../img/icon_survey_hover03.png') no-repeat;
}

.icon-stop {
    width: 9px;
    height: 15px;
    background: url('../img/icon_survey_hover04.png') no-repeat;
}

.list-detail p {
    min-height: 18px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #4f6a7b;
}

.list-detail i {
    display: inline-block;
}

.list-detail-des {
    position: relative;
    float: left;
    padding-top: 14px; 
    padding-left: 25px; 
    width: 144px;
    height: 144px;    
    background: #fff;
}

.list-new-message {
    position: absolute;
    display: block;
    top: -11px;
    right: -11px;
    width: 22px;
    height: 22px;
    background: #f7941e;
    border: 2px solid #e9eff3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    line-height: 20px;
    color: #fff;
}

.list-detail .list-state {
    margin-bottom: 18px;
    font-size: 12px;
    color: #4f6a7b;
}

.list-detail .list-number {
    color: #929ea6;
}

.list-state i {    
    margin-right: 5px;
    margin-left: 5px;
    width: 7px;
    height: 7px;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.icon-testing {   
    background: #3dc52b;    
}

.icon-checking {   
    background: #f7941e;    
}

.icon-recovering {   
    background: #9e72e6;    
}

.icon-like {
    position: relative;
    top: 2px;
    margin-right: 8px;
    width: 11px;
    height: 12px;
    background: url('../img/icon_like_num.png') no-repeat; 
}

.icon-member {
    position: relative;
    top: 5px;
    margin-right: 8px;
    width: 10px;
    height: 17px;
    background: url('../img/icon_used_num.png') no-repeat;
}

.list-description {
    margin-top: 10px;
}

.list-description p:first-child {
    margin-bottom: 2px;
    font-size: 14px;
    color: #4b5668;
}

.list-description p:last-child {
    margin-bottom: 0;
    font-size: 12px;
    color: #929ea6;
}

.list-author-mes {
    display: inline-block;
    color: #4b5668;
    font-size: 14px;
}

.list-author-mes img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.list-author-mes i {
    margin-right: 5px;
    font-size: 12px;
    color: #929ea6;
    font-style: normal;
}

#add-new-reseach .modal-body {
    background: #f0f3f7;
}

.reseach-tab {
    padding-top: 20px;
    padding-bottom: 29px;
    text-align: center;
}

.reseach-tab button {
    padding: 0;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: transparent;
    border: 1px solid #74787e;
    color: #4b5668;    
}

.reseach-tab .reseach-tab-left {
    -wekbit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

.reseach-tab .reseach-tab-right {
    -wekbit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
}

.reseach-tab button.reseach-tab-sel {
    background: #74787e;
    color: #fff;    
}

.reseach-list {
    display: none;
    margin-left: 27px;
    margin-right: 27px; 
    padding-bottom: 20px;
}

.reseach-list li {
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
    width: 188px;
    text-align: center;
}

.reseach-list li.list-col-4 {
    margin-right: 0;
}

.reseach-list li a {
    text-decoration: none;
}

.reseach-list li img {
    display: block;
    width: 188px;
    height: 107px;  
    border: 2px solid #f0f3f7;  
}

.reseach-list li img:hover {    
    border: 2px solid #15afff;
}

.reseach-list-name {
    margin-top: 10px;
    margin-bottom: 0;
    color: #5a7383;
}

.active {
    display: block;
}